mixin time(limit)
  - for (var i = 1; i <= limit; i++) {
    block
  - }

mixin tool-list(imgName, imgCaption)
  li
    span
      img(src=`assests/images/${imgName}.png`, alt=`${imgName}`)
    p #{imgCaption}

mixin tool-description(tool_title, tool_header, tool_description_first, tool_description_second, img_source)
  //- li
  //-   div(class="description-text")
  //-     h2 #{tool_title}
  //-     h5 #{tool_header}
  //-     p #{tool_description_first} <br/><br/> #{tool_description_second}
  //-   div(class="description-image")
  //-     img(src=`assests/images/${img_source}.jpg`, alt=`${img_source}`, class="img-fluid")
  li
    div(class="container")
      div(class="description-text")
        div
          h2 #{tool_title}
          h5 #{tool_header}
          p #{tool_description_first} <br/><br/> #{tool_description_second}
      div(class="description-image")
        img(src=`assests/images/${img_source}.jpg`, alt=`${img_source}`, class="img-fluid")

mixin mobile-tool-description(tool_title, tool_description_first, tool_description_second)
  li
    div(class="container")
      h2 #{tool_title}
      h5 #{tool_header}
      p #{tool_description_first} <br/><br/> #{tool_description_second}

mixin testimonial(profile_quote, profile_name, profile_img ,profile_title)
  li
    div(class="container testimonial-description")
      include ../svg/testimonial-svg
      p #{profile_quote}
      img(src=`assests/images/${profile_img}.jpg`, alt=`${profile_name}`)
      div(class="profile-description")
        p #{profile_name} <br/>
        p #{profile_title}
